.password-check {
    color: var(--gray-500);
    @include font-size(.75rem);
    .item {
        display: flex;
        align-items: center;
        &:not(:first-of-type) {
            margin-block-start: .0625rem;
        }
    }
}
.valid-feedback,
.invalid-feedback {
    @include font-size(.75rem);
}
