.heading {
    &-small {
        @include font-size(1.25rem);
        line-height: 1.2;
        font-weight: 700;
    }
    &-medium {
        @include font-size(2.25rem);
        line-height: 1.2;
        font-weight: 700;
    }
    &-custom_1 {
        letter-spacing: -0.02em;
        @include media-breakpoint-up(xl) {
            @include font-size(5rem);
            line-height: 1.1;
            font-weight: 700;
        }
        span {
            color: var(--primary);
        }
        &:before {
            content: "";
            display: block;
            margin: 0 auto 1.5rem;
            width: 40px;
            height: 4px;
            background: var(--primary);
            @include media-breakpoint-up(xl) {
                margin: 0 0 2.5rem;
                width: 72px;
            }
        }
    }
    &-custom_2 {
        &:after {
            content: "";
            display: block;
            margin: 1.5rem auto;
            width: 70px;
            height: 4px;
            background: var(--secondary);
            @include media-breakpoint-up(xl) {
            }
        }
    }
    &-custom_3 {
        @include font-size(1.75rem);
        @include media-breakpoint-up(xl) {
            @include font-size(2.25rem);
        }
    }
    strong {
        font-weight: 700;
    }
}

.dsc {
    p:last-of-type {
        margin-block-end: 0;
    }
    &-custom_1 {
        @include media-breakpoint-up(md) {
            @include font-size(1rem);
        }
        @include media-breakpoint-up(xl) {
            @include font-size(1.125rem);
        }
    }
}

.grid {
    &-custom_1 {
        --line-light: #EBEBEB;
        --line-dark: #CDCDCD;
        --line-point: var(--primary);

        @include media-breakpoint-up(md) {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 4rem;
                left: 50%;
                background: var(--line-light);
                width: 1px;
                height: calc(100% - (4rem * 2));
            }
            .col-md-6:nth-child(2n+1):not(:first-child) {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -4rem;
                    right: 0;
                    background: var(--line-light);
                    width: calc(100% + 8rem);
                    height: 1px;
                    transform: translateX(50%);
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: -4rem;
                    right: 0;
                    background: var(--line-dark);
                    width: 2rem;
                    height: 1px;
                    transform: translateX(50%);
                }
                .card-custom_1 {
                    &:before {
                        content: "";
                        position: absolute;
                        top: -5rem;
                        right: calc(-4rem - 1px);
                        background: var(--line-dark);
                        width: 1px;
                        height: 2rem;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: calc(-4rem - 1px);
                        right: calc(-4rem - 2px);
                        border-radius: 50%;
                        width: 3px;
                        height: 3px;
                        background: var(--line-point);
                        z-index: 1;
                    }
                }
            }
        }
    }
    &-custom_2 {
        display: flex;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem 2rem;
            @include font-size(1rem);
            font-weight: 500;
            text-align: center;
            &:not(:first-of-type) {
                border-top: 1px solid var(--white);
            }
            @include media-breakpoint-up(md) {
                border-top: 1px solid var(--white);
                border-bottom: 1px solid var(--white);
                &:not(:first-of-type) {
                    border-inline-start: 1px solid var(--white);
                }
            }
        }
    }
    &-custom_3 {
        .item {
            position: relative;
            border-radius: 0.625rem;
            padding: 2.5rem 2rem;
            height: 100%;
            background: #0B0819;
            @include media-breakpoint-up(md) {
                padding: 2.5rem;
            }
            @include media-breakpoint-up(xl) {
                padding: 3.75rem 3.25rem;
            }
            .heading {
                @include font-size(1.25rem);
                font-weight: 700;
                line-height: 1.2;
                @include media-breakpoint-up(md) {
                    @include font-size(1.5rem);
                }
                &:after {
                    content: "";
                    display: block;
                    margin-block-start: 1.5rem;
                    width: 40px;
                    height: 2px;
                    background: var(--secondary);
                }
            }
            .dsc {
                max-width: 200px;
                margin-block-start: 1.5rem;
                @include media-breakpoint-up(md) {
                    max-width: 300px;
                }
                @include media-breakpoint-up(xl) {
                    max-width: 200px;
                    
                }
            }
            .icon {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 60px;
                height: 60px;
                object-fit: contain;
                @include media-breakpoint-up(md) {
                    top: 30px;
                    right: 30px;
                    width: 90px;
                    height: 90px;
                }
                @include media-breakpoint-up(xl) {
                    width: 70px;
                    height: 70px;
                }
            }
            &.long {
                .dsc {
                    @include media-breakpoint-up(xl) {
                        max-width: unset;
                    }
                }
                .icon {
                    @include media-breakpoint-up(xl) {
                        top: unset;
                        bottom: 30px;
                        left: 30px;
                        width: unset;
                        height: 220px;
                    }
                }
            }
            &.wide {
                .dsc {
                    @include media-breakpoint-up(xl) {
                    max-width: 400px;
                    }
                }
                .icon {
                    @include media-breakpoint-up(xl) {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

.btn {
    &-secondary {
        --btn-active-color: var(--white);
        color: var(--white);
    }
    &-lg {
        padding-block-end: .375rem;
    }
    &.disabled {
        border-color: var(--gray-400);
        background-color: var(--gray-400);
        color: var(--white);
        opacity: 1;
    }
    &-custom_1 {
        width: 100%;
        max-width: 345px;
    }
    &-xl-custom_1 {
        width: 100%;
        @include media-breakpoint-up(xl) {
            max-width: 345px;
        }
    }
}

.card {
    &-custom_1 {
        border: 0;
        height: 100%;
        > *:not(:first-child) {
            margin-block-start: 1rem;
        }
    }
    &-custom_2 {
        border: 3px solid var(--white);
        border-radius: 0;
        background: #dadada;
    }
    &-custom_3 {
        border-color: rgba(167, 167, 167, 0.2);
        border-radius: 1.5rem;
        padding: .75rem 1rem 1rem 1rem;
        background: rgba(140, 140, 140, 0.1);
        overflow: hidden;
        .info {
            display: flex;
            align-items: center;
        }
        .icon {
            margin-inline-end: .75rem;
        }
        .symbol {
            margin-inline-end: .75rem;
            font-size: .75rem;
        }
        .name {
            border-radius: .25rem;
            padding: .125rem .5rem;
            background: var(--white);
            color: var(--body-color);
            font-size: .625rem;
            font-weight: 700;
        }
        .value {
            margin-block-start: .625rem;
            padding-block-start: .625rem;
            border-top: 1px solid rgba(255,255,255,.15);
            @include font-size(.75rem);
        }
        .price {
            @include font-size(1.5rem);
            font-weight: 700;
            text-shadow: 0px 0px 65.8195px #FFC255;
        }
        .percent {
            &.up {
                color: #B1FFC2;
            }
            &.down {
                color: #FFA3A6;
            }
        }
    }
}

.swiper {
    &-button {
        &-prev:after,
        &-next:after {
            color: var(--gray-500);
            font: var(--fa-font-solid);
            font-size: 30px;
        }
        &-prev {
            &:after {
                content: "\f053";
            }
        }
        &-next {
            &:after {
                content: "\f054";
            }
        }
    }
}

.wrapper {
    position: relative;
    z-index: 2;
}

.bg {
    position: relative;
    height: 0;
    z-index: -1;
    pointer-events: none;
    &-symbol_1 {
        top: 0;
        left: 0;
        height: 430px;
        transform: translate(-50%, -20%);
        @include media-breakpoint-up(md) {
            height: 550px;
            transform: translate(-30%, -15%);
        }
        @include media-breakpoint-up(xl) {
            height: 850px;
            transform: translate(-50%, -10%);
        }
    }
    &-symbol_2 {
        top: -200px;
        right: -250px;
    }
    .hero & {
        position: absolute;
        inset: 0;
        height: unset;
    }
    &-symbol_3 {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &-symbol_4 {
        position: absolute;
        bottom: -550px;
        right: 0;
    }
    &-symbol_5 {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        @include media-breakpoint-up(md) {
            width: 180px;
        }
        @include media-breakpoint-up(xl) {
            left: 0;
            width: 250px;
        }
    }
    &-symbol_6 {
        position: absolute;
        top: 180px;
        left: -90px;
        width: 160px;
        @include media-breakpoint-up(xl) {
            top: 240px;
            left: -130px;
            width: 240px;
        }
    }
    &-symbol_7 {
        position: absolute;
        bottom: 90px;
        left: 40px;
        width: 70px;
        @include media-breakpoint-up(xl) {
            bottom: 90px;
            left: 150px;
            width: 100px;
        }
    }
    &-symbol_8 {
        position: absolute;
        top: 20px;
        right: 40px;
        width: 50px;
        @include media-breakpoint-up(xl) {
            top: 40px;
            right: 80px;
            width: 80px;
        }
    }
    &-symbol_9 {
        position: absolute;
        bottom: -80px;
        right: -70px;
        width: 150px;
        @include media-breakpoint-up(md) {
            top: 110px;
            bottom: unset;
            right: -130px;
            width: 240px;
        }
        @include media-breakpoint-up(xl) {
            top: 150px;
            right: -200px;
            width: 370px;
        }
    }
    &-symbol_10 {
        position: absolute;
        top: 50px;
        right: -50px;
        width: 100px;
        @include media-breakpoint-up(md) {
            top: unset;
            right: 20px;
            bottom: 20px;
            width: 150px;
        }
        @include media-breakpoint-up(xl) {
            top: unset;
            right: 80px;
            bottom: 20px;
            width: 230px;
        }
    }
}