.heading {
    &-small {
        @include font-size(1.25rem);
        line-height: 1.2;
        font-weight: 700;
    }
    &-medium {
        @include font-size(2.25rem);
        line-height: 1.2;
        font-weight: 700;
    }
    &-custom_1 {
        @include media-breakpoint-up(xl) {
            @include font-size(5rem);
            line-height: 1.1;
            font-weight: 700;
            letter-spacing: -0.02em;
        }
        span {
            color: var(--primary);
        }
        &:before {
            content: "";
            display: block;
            margin: 0 auto 1.5rem;
            width: 40px;
            height: 4px;
            background: var(--primary);
            @include media-breakpoint-up(xl) {
                margin: 0 0 2.5rem;
                width: 72px;
            }
        }
    }
}

.dsc {
    &-custom_1 {
        @include media-breakpoint-up(md) {
            @include font-size(1rem);
        }
        @include media-breakpoint-up(xl) {
            @include font-size(1.125rem);
        }
    }
}

.grid {
    &-custom_1 {
        --line-light: #EBEBEB;
        --line-dark: #CDCDCD;
        --line-point: var(--primary);

        @include media-breakpoint-up(md) {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 4rem;
                left: 50%;
                background: var(--line-light);
                width: 1px;
                height: calc(100% - (4rem * 2));
            }
            .col-md-6:nth-child(2n+1):not(:first-child) {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -4rem;
                    right: 0;
                    background: var(--line-light);
                    width: calc(100% + 8rem);
                    height: 1px;
                    transform: translateX(50%);
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: -4rem;
                    right: 0;
                    background: var(--line-dark);
                    width: 2rem;
                    height: 1px;
                    transform: translateX(50%);
                }
                .card-custom_1 {
                    &:before {
                        content: "";
                        position: absolute;
                        top: -5rem;
                        right: calc(-4rem - 1px);
                        background: var(--line-dark);
                        width: 1px;
                        height: 2rem;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: calc(-4rem - 1px);
                        right: calc(-4rem - 2px);
                        border-radius: 50%;
                        width: 3px;
                        height: 3px;
                        background: var(--line-point);
                        z-index: 1;
                    }
                }
            }
        }
    }
    &-custom_2 {
        display: flex;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem 2rem;
            @include font-size(1rem);
            font-weight: 500;
            text-align: center;
            &:not(:first-of-type) {
                border-top: 1px solid var(--white);
            }
            @include media-breakpoint-up(md) {
                border-top: 1px solid var(--white);
                border-bottom: 1px solid var(--white);
                &:not(:first-of-type) {
                    border-inline-start: 1px solid var(--white);
                }
            }
        }
    }
    &-custom_3 {
        .item {
            border-radius: 0.625rem;
            padding: 2.5rem 2rem;
            height: 100%;
            background: #0B0819;
            @include media-breakpoint-up(md) {
                padding: 2.5rem;
            }
            @include media-breakpoint-up(xl) {
                padding: 3.75rem 3.25rem;
            }
            .heading {
                @include font-size(1.25rem);
                font-weight: 700;
                line-height: 1.2;
                @include media-breakpoint-up(md) {
                    @include font-size(1.5rem);
                }
                &:after {
                    content: "";
                    display: block;
                    margin-block-start: 1.5rem;
                    width: 40px;
                    height: 2px;
                    background: var(--secondary);
                }
            }
            .dsc {
                max-width: 200px;
                margin-block-start: 1.5rem;
                @include media-breakpoint-up(md) {
                    max-width: 300px;
                }
                @include media-breakpoint-up(xl) {
                    max-width: 200px;
                    
                }
            }
            &.long {
                .dsc {
                    @include media-breakpoint-up(xl) {
                        max-width: unset;
                    }
                }
            }
            &.wide {
                .dsc {
                    @include media-breakpoint-up(xl) {
                    max-width: 400px;
                    }
                }
            }
            p:last-of-type {
                margin-block-end: 0;
            }
        }
    }
}

.btn {
    &-secondary {
        color: var(--white);
    }
    &-lg {
        padding-block-end: .375rem;
    }
    &.disabled {
        border-color: var(--gray-400);
        background-color: var(--gray-400);
        color: var(--white);
        opacity: 1;
    }
}

.card {
    &-custom_1 {
        border: 0;
        height: 100%;
        > *:not(:first-child) {
            margin-block-start: 1rem;
        }
        p:last-of-type {
            margin-block-end: 0;
        }
    }
    &-custom_2 {
        border: 3px solid var(--white);
        border-radius: 0;
        background: #dadada;
    }
}

.swiper {
    &-button {
        &-prev:after,
        &-next:after {
            color: var(--gray-500);
            font: var(--fa-font-solid);
            font-size: 30px;
        }
        &-prev {
            &:after {
                content: "\f053";
            }
        }
        &-next {
            &:after {
                content: "\f054";
            }
        }
    }
}